{% include "common/header.html" %}
<div class="hero-unit">
<h2>A propos du photographe, du matériel, des images, de ce site, etc..</h2>
<br>
<p>
Qu'est ce que la photographie? Pour moi, il s'agit de l'art de saisir un instant, une lumière afin de restituer au lecteur de l'image toutes les émotions ressenties lors de la prise de vue.<br>
Fort de cette définition très personnelle, je me suis attelé à capturer des instants. D'abord avec un Minolta Dynax 500si, puis un Canon AE-1 (retour au fondamentaux) épaulé par une batterie d'objectifs Canon FD (28,50,135).<br>
Très rapidement, j'ai cédé aux sirènes du numérique pour m'affranchir du développement (je développais moi même les pellicules). Après avoir utilisé un boitier Fuji S2 Pro, je suis désormais passé au Nikon D90, avec trois optiques (28mm, 50mm, 17-35mm) en attendant de pouvoir m'offrir celle dont je rêve (Tokia 11-16 f/2.8, Nikon 70-200 f/2.8).<br>
Ma pratique de la photo, et plus généralement mon cerveau, obéissent à des "cycles": j'ai eu un cycle "Ville nocturne", un autre "Sans domicile fixe", etc... le denier en date étant l'Exploration Urbaine.<br>
<br>
<br>
Cette galerie a été réalisé en utilisant <a href="https://www.djangoproject.com/">Django</a> et le toolkit <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.<br>
Si d'aventure vous etiez intéressé par celle-ci et souhaitiez disposer du code source ou d'une galerie similaire, n'hésitez pas à <a href="mailto:gcolangelo@yanluo.net">m'écrire </a>.<br>
Il va sans dire que les images placées sur ce site sont ma propriété et ainsi, si vous souhaitez en utiliser une, vous êtes vivement inviter à me consulter au préalable...</div>

</div>
{% include "common/footer.html" %}
{% include "common/close.html" %}
