{% include "common/header.html" %}
<div class="hero-unit">
<h2>Acheter un tirage</h2>
<br>
<p>
Il vous est possible d'acquérir des tirages originaux (limités à 10 exemplaires par image) des images présentées sur ce site.<br>
<br>
Les tirages sont disponibles dans des tailles allant du 20x30 au 60x90 et sont réalisés avec un imageur numérique Lightjet 5000 sur papier argentique. Les tirages peuvent être contre-collés sur de l'aludibond (finition identique aux expositions) par un adhesif double face neutre à l'aide d'un laminateur à froid.<br>
<br>
N'hésitez pas à me contacter pour plus de détails au +33 (0)6 73 47 43 56 ou encore par <a href="mailto:gcolangelo@yanluo.net">email</a><br>
</p>
</div>
{% include "common/footer.html" %}
{% include "common/close.html" %}
